// abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";

// base
@import "./base/base";
@import "./base/typography";

// components
@import "./components/logo/logo";
@import "./components/button/button";
@import "./components/loader/loader";
@import "./components/auth-header/auth-header";
@import "./components/input/input";
@import "./components/form/form";
@import "./components/header/header";
@import "./components/search/search";
@import "./components/drop-down/drop-down";
@import "./components/notification/notification";
@import "./components/course/course";
@import "./components/material/material";
@import "./components/assignment/assigment";
@import "./components/test/test";
@import "./components/popup/popup";
@import "./components/upload/upload";
@import "./components/message/message";
@import "./components/schedule/schedule";
@import "./components/student-list/student-list";
@import "./components/choice/choice";
@import "./components/question/question";
@import "./components/rating/rating";

//pages
@import "./pages/landing-page/landing-page";
@import "./pages/home/home-page";
@import "./pages/profile/profile-page";
@import "./pages/course/course-page";
@import "./pages/enroll-course/enroll-course-page";
@import "./pages/schedule/schedule-page";
@import "./pages/add-test/add-test-page";
@import "./pages/student-list/student-list-page";
@import "./pages/test/test-page";

//Layout
@import "./layout/grid";

.sized-box {
  width: 1rem;
  height: 1rem;

  &.w-sm {
    width: 0.5rem;
    height: 0;
  }

  &.w-md {
    width: 1.5rem;
    height: 0;
  }

  &.w-lg {
    width: 2rem;
    height: 0;
  }

  ///
  &.h-sm {
    width: 0;
    height: 0.5rem;
  }

  &.h-md {
    width: 0;
    height: 1.5rem;
  }

  &.h-lg {
    width: 0;
    height: 2rem;
  }
}

.MuiSnackbarContent-message {
  font-size: 1.3rem;
}
