.header {
  @include flex(center, space-between);
  background-color: $color-primary;
  height: $header-height;
  box-shadow: $box-shadow;
  position: sticky;
  top: 0;
  z-index: 900;
  margin-bottom: 4rem;

  &__nav {
    &__list {
      list-style: none;
      display: flex;
      margin-right: 3rem;
    }

    &__item {
      @include flex(center, space-between);
      flex-direction: column;
      font-size: 1.5rem;
      text-decoration: none;
      color: $color-dark;
      transition: color 0.2s ease;
      cursor: pointer;
      position: relative;

      &:hover,
      &:active,
      &.active {
        color: $color-white;
      }
      &:not(:last-of-type) {
        margin-right: 3rem;
      }

      & .icon {
        font-size: 2.5rem;
        color: currentColor;
      }
    }
  }
}
