.test {
  margin-top: 2rem;
  width: 15rem;
  height: 15rem;
  max-height: 20rem;
  text-align: center;
  text-transform: capitalize;

  &__box {
    width: 100%;
    height: 60%;
    background-color: $color-primary;
    border: 1px solid $color-dark;
  }

  &__icon {
    font-size: 8rem !important;
  }
}
